body{
    background-color: darkgrey;
}

a {
    text-decoration: none;
}
.navbar {
    box-shadow: 1px 1px 5px black;
    /*visibility: hidden;*/
}

.nav-link {
    color: gold;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:hover{
    color: goldenrod;
}

.gridmenu{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}

.gridmenu a{
  color: black;
}

.card-title {
    display: grid;
    place-items: center;
    margin-bottom: 2px;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: ghostwhite;
    box-shadow: 1px 2px 3px black;
}

tr{
    border-color: black;
    border: 1px solid black;
}

.searchbox {
    border: 2px solid black;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

.searchbox:hover {
    border-color: gold;
}

#logout {
    color: crimson;
   font-weight: bold;
}

#logout:hover {
    color: brown;
}